.idea
.vscode
.history
*.sublime-project
*.sublime-workspace
.metadata

docker-compose.override.yml
.yarn-error.log
.DS_Store
# gdrive oath for sample data
.virtualenv
client_secrets.json
volumes/
apps/
apps2/
/nbproject/private/
