# see .env file for docker-compose ENV variables required for proper run

services:
  nginx:
    container_name: ${PROJECT_NAME}-nginx
    image: "nginx:stable"
    environment:
      NGINX_PORT: "[::]:80"
    ports:
      - 80:80
    volumes:
      - ".:/var/www/html:rw"
      - "./Docker/nginx/nginx.conf:/etc/nginx/conf.d/default.template:ro"
    healthcheck:
      test: [ "CMD-SHELL", "service nginx status || exit 1" ]
      timeout: 2s
      retries: 10
      interval: 5s
    restart: "unless-stopped"
    networks:
      default:
        aliases:
          - "campaign.remp.press"
          - "mailer.remp.press"
          - "sso.remp.press"
          - "beam.remp.press"
          - "tracker.beam.remp.press"
          - "segments.beam.remp.press"
          - "mailhog.remp.press"
          - "kibana.beam.remp.press"
    command: /bin/bash -c "envsubst '$$NGINX_PORT' < /etc/nginx/conf.d/default.template > /etc/nginx/conf.d/default.conf && exec nginx -g 'daemon off;'"

  proxyx:
    container_name: ${PROJECT_NAME}-proxyx
    build:
      context: ./Docker/proxyx
    ports:
    - 443:443
    expose:
    - "80"
    restart: always
    networks:
      default:
              
  phpmyadmin:
    container_name: ${PROJECT_NAME}-phpmyadmin
    image: phpmyadmin
    restart: always
    environment:
      PMA_ARBITRARY: "1"
      UPLOAD_LIMIT: 2048M
    networks:
      default:
    
  mysql:
    container_name: ${PROJECT_NAME}-mysql
    image: "mysql:8.0"
    volumes:
      - "mysql-data:/var/lib/mysql"
      - "./Docker/mysql/init.sql:/docker-entrypoint-initdb.d/init.sql"
    command:
      - "--character-set-server=utf8mb4"
      - "--collation-server=utf8mb4_unicode_ci"
      - "--skip-character-set-client-handshake"
      - "--explicit_defaults_for_timestamp"
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "no"
      MYSQL_ROOT_PASSWORD: "secret"
    healthcheck:
      test: [ "CMD", "mysqladmin" , "ping", "-h", "localhost" ]
      timeout: 2s
      retries: 10
      interval: 5s
    restart: "unless-stopped"

  redis:
    container_name: ${PROJECT_NAME}-redis
    image: "redis:6.2"
    volumes:
      - "redis-data:/data"
    healthcheck:
      test: [ "CMD", "redis-cli", "--raw", "incr", "ping" ]
      timeout: 2s
      retries: 10
      interval: 5s

  mailhog:
    container_name: ${PROJECT_NAME}-mailhog
    image: "mailhog/mailhog:v1.0.0"
    environment:
      MH_HOSTNAME: "mailhog.remp.press"
    restart: "unless-stopped"
  
  crm:
    container_name: ${PROJECT_NAME}-crm
    user: "${UID:-1000}:${GID:-1000}"
    build:
      context: "Crm/docker/php"
      args:
        UID: ${UID:-1000}
        GID: ${GID:-1000}
        UNAME: ${UNAME:-docker}
    extra_hosts:
      - "docker:192.168.99.100"
    volumes:
      - "./Crm:/var/www/html/Crm:rw"
    depends_on:
      nginx:
        condition: service_healthy
      mysql:
        condition: service_healthy
      redis:
        condition: service_healthy
    restart: "unless-stopped"

  # web

  web:
    container_name: ${PROJECT_NAME}-web
    user: "${UID:-1000}:${GID:-1000}"
    build:
      context: "Web/images/php-84"
      args:
        UID: ${UID:-1000}
        GID: ${GID:-1000}
        UNAME: ${UNAME:-docker}
    volumes:
      - "./Web:/var/www/html/Web:rw"
    depends_on:
      nginx:
        condition: service_healthy
      mysql:
        condition: service_healthy
      redis:
        condition: service_healthy
    restart: "unless-stopped"
    
  # campaign

  campaign:
    container_name: ${PROJECT_NAME}-campaign
    domainname: "campaign.remp.press"
    hostname: "campaign"
    user: "${UID:-1000}:${GID:-1000}"
    environment:
      APP_NAME: "Campaign"
      PHP_IDE_CONFIG: "serverName=campaign.remp.press"
    build:
      context: "./Docker/php"
      args:
        UID: ${UID:-1000}
        GID: ${GID:-1000}
        UNAME: ${UNAME:-docker}
    volumes:
      - "./Campaign:/var/www/html/Campaign:rw"
      - "./Composer:/var/www/html/Composer:rw"
      - "./Package:/var/www/html/Package:rw"
    depends_on:
      nginx:
        condition: service_healthy
      mysql:
        condition: service_healthy
      redis:
        condition: service_healthy
    restart: "unless-stopped"

  # mailer

  mailer:
    container_name: ${PROJECT_NAME}-mailer
    domainname: "mailer.remp.press"
    hostname: "mailer"
    user: "${UID:-1000}:${GID:-1000}"
    environment:
      APP_NAME: "Mailer"
      PHP_IDE_CONFIG: "serverName=mailer.remp.press"
    build:
      context: "./Docker/php"
      args:
        UID: ${UID:-1000}
        GID: ${GID:-1000}
        UNAME: ${UNAME:-docker}
    volumes:
      - "./Mailer:/var/www/html/Mailer:rw"
      - "./Composer:/var/www/html/Composer:rw"
      - "./Package:/var/www/html/Package:rw"
    depends_on:
      nginx:
        condition: service_healthy
      mysql:
        condition: service_healthy
      redis:
        condition: service_healthy
      mailhog:
        condition: service_started
    restart: "unless-stopped"

  # sso

  sso:
    container_name: ${PROJECT_NAME}-sso
    domainname: "sso.remp.press"
    hostname: "sso"
    user: "${UID:-1000}:${GID:-1000}"
    environment:
      APP_NAME: "Sso"
      PHP_IDE_CONFIG: "serverName=sso.remp.press"
    build:
      context: "./Docker/php"
      args:
        UID: ${UID:-1000}
        GID: ${GID:-1000}
        UNAME: ${UNAME:-docker}
    volumes:
      - "./Sso:/var/www/html/Sso:rw"
      - "./Composer:/var/www/html/Composer:rw"
      - "./Package:/var/www/html/Package:rw"
    depends_on:
      nginx:
        condition: service_healthy
      mysql:
        condition: service_healthy
      redis:
        condition: service_healthy
    restart: "unless-stopped"

  # beam

  beam:
    container_name: ${PROJECT_NAME}-beam
    domainname: "beam.remp.press"
    hostname: "beam"
    user: "${UID:-1000}:${GID:-1000}"
    environment:
      APP_NAME: "Beam"
      PHP_IDE_CONFIG: "serverName=beam.remp.press"
    build:
      context: "./Docker/php"
      args:
        UID: ${UID:-1000}
        GID: ${GID:-1000}
        UNAME: ${UNAME:-docker}
    volumes:
      - "./Beam:/var/www/html/Beam:rw"
      - "./Composer:/var/www/html/Composer:rw"
      - "./Package:/var/www/html/Package:rw"
    depends_on:
      nginx:
        condition: service_healthy
      mysql:
        condition: service_healthy
      redis:
        condition: service_healthy
    restart: "unless-stopped"

  zookeeper:
    container_name: ${PROJECT_NAME}-zookeeper
    image: "wurstmeister/zookeeper"
    hostname: "zookeeper"
    ports:
      - "2181:2181"
    healthcheck:
      test: [ "CMD", 'nc', '-z', 'localhost', '2181' ]
      timeout: 2s
      retries: 10
      interval: 5s
    restart: "unless-stopped"

  kafka:
    container_name: ${PROJECT_NAME}-kafka
    image: "wurstmeister/kafka"
    hostname: "kafka"
    ports:
      - "9092:9092"
    depends_on:
      - "zookeeper"
    environment:
      KAFKA_ADVERTISED_HOST_NAME: "kafka"
      KAFKA_ZOOKEEPER_CONNECT: "zookeeper:2181"
      KAFKA_CREATE_TOPICS: "beam_events:1:1"
      KAFKA_BROKER_ID: "1001"
      KAFKA_RESERVED_BROKER_MAX_ID: "1001"
    volumes:
      - "kafka-data:/data"
    healthcheck:
      test: "nc -z localhost 9092"
      timeout: 2s
      retries: 10
      interval: 5s
    restart: "unless-stopped"

  telegraf:
    container_name: ${PROJECT_NAME}-telegraf
    build: "./Docker/telegraf"
    volumes:
      - "./Docker/telegraf/telegraf.conf:/etc/telegraf/telegraf.conf:ro"
    depends_on:
      elasticsearch:
        condition: service_healthy
      kafka:
        condition: service_healthy
    restart: "unless-stopped"

  elasticsearch:
    container_name: ${PROJECT_NAME}-elasticsearch
    build: "./Docker/elasticsearch"
    volumes:
      - "./Docker/elasticsearch/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml"
      - "elastic-data:/usr/share/elasticsearch/data"
    healthcheck:
      test: "curl -s http://localhost:9200 >/dev/null || exit 1"
      timeout: 2s
      retries: 10
      interval: 5s
    restart: "unless-stopped"

  kibana:
    container_name: ${PROJECT_NAME}-kibana
    image: "docker.elastic.co/kibana/kibana:8.6.1"
    restart: "unless-stopped"

  beam_tracker:
    container_name: ${PROJECT_NAME}-beam_tracker
    build: "./Beam/go/cmd/tracker"
    depends_on:
      - "zookeeper"
    restart: "unless-stopped"

  beam_segments:
    container_name: ${PROJECT_NAME}-beam_segment
    build: "./Beam/go/cmd/segments"
    depends_on:
      - "elasticsearch"
    restart: "unless-stopped"

volumes:
  kafka-data:
    driver: "local"
  mysql-data:
    driver: "local"
  redis-data:
    driver: "local"
  elastic-data:
    driver: "local"

networks:
  default:
