version: "3.8"
services:
  nginx:
    container_name: ${PROJECT_NAME}-nginx
    image: nginx:stable
    environment:
      NGINX_PORT: '[::]:80'
    ports:
    - 80:80
    volumes:
    - ../apps/:/var/www/html:rw
    - ./images/nginx/nginx.conf:/etc/nginx/conf.d/default.template:ro
    healthcheck:
      test:
      - CMD-SHELL
      - service nginx status || exit 1
      timeout: 2s
      retries: 10
      interval: 5s
    restart: unless-stopped
    networks:
      webisup-cloud-network:
        aliases:
        - campaign.remp.press
        - mailer.remp.press
        - sso.remp.press
        - beam.remp.press
        - tracker.beam.remp.press
        - segments.beam.remp.press
        - mailhog.remp.press
        - crm.remp.press
        - webisup.loc
        - kibana.beam.remp.press
    command: /bin/bash -c "envsubst '$$NGINX_PORT' < /etc/nginx/conf.d/default.template
      > /etc/nginx/conf.d/default.conf && exec nginx -g 'daemon off;'"
  proxyx:
    container_name: ${PROJECT_NAME}-proxyx
    build:
      context: ./images/proxyx
    ports:
    - 443:443
    expose:
    - "80"
    restart: always
    networks:
    - ${PROJECT_NAME}-network
  phpmyadmin:
    container_name: ${PROJECT_NAME}-phpmyadmin
    image: phpmyadmin
    restart: always
    environment:
      PMA_ARBITRARY: "1"
      UPLOAD_LIMIT: 2048M
    networks:
    - ${PROJECT_NAME}-network
  mysql:
    container_name: ${PROJECT_NAME}-mysql
    image: mysql:8.0
    volumes:
    - ./volumes/mysql:/var/lib/mysql
    - ./images/mysql/init.sql:/docker-entrypoint-initdb.d/init.sql
    command:
    - --character-set-server=utf8mb4
    - --collation-server=utf8mb4_unicode_ci
    - --skip-character-set-client-handshake
    - --explicit_defaults_for_timestamp
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "no"
      MYSQL_ROOT_PASSWORD: secret
    healthcheck:
      test:
      - CMD
      - mysqladmin
      - ping
      - -h
      - localhost
      timeout: 2s
      retries: 10
      interval: 5s
    restart: unless-stopped
    networks:
    - ${PROJECT_NAME}-network
  redis:
    container_name: ${PROJECT_NAME}-redis
    image: redis:6.2
    volumes:
    - redis-data:/data
    healthcheck:
      test:
      - CMD
      - redis-cli
      - --raw
      - incr
      - ping
      timeout: 2s
      retries: 10
      interval: 5s
    networks:
    - ${PROJECT_NAME}-network
  mailhog:
    container_name: ${PROJECT_NAME}-mailhog
    image: mailhog/mailhog:v1.0.0
    environment:
      MH_HOSTNAME: mailhog.remp.press
    restart: unless-stopped
    networks:
    - ${PROJECT_NAME}-network
  zookeeper:
    container_name: ${PROJECT_NAME}-zookeeper
    image: wurstmeister/zookeeper
    hostname: zookeeper
    ports:
    - 2181:2181
    healthcheck:
      test:
      - CMD
      - nc
      - -z
      - localhost
      - "2181"
      timeout: 2s
      retries: 10
      interval: 5s
    restart: unless-stopped
    networks:
    - ${PROJECT_NAME}-network
  kafka:
    container_name: ${PROJECT_NAME}-kafka
    image: wurstmeister/kafka
    hostname: kafka
    ports:
    - 9092:9092
    depends_on:
    - zookeeper
    environment:
      KAFKA_ADVERTISED_HOST_NAME: kafka
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_CREATE_TOPICS: beam_events:1:1
      KAFKA_BROKER_ID: "1001"
      KAFKA_RESERVED_BROKER_MAX_ID: "1001"
    volumes:
    - kafka-data:/data
    healthcheck:
      test: nc -z localhost 9092
      timeout: 2s
      retries: 10
      interval: 5s
    restart: unless-stopped
    networks:
    - ${PROJECT_NAME}-network
  elasticsearch:
    container_name: ${PROJECT_NAME}-elasticsearch
    build: ./images/elasticsearch
    volumes:
    - ./images/elasticsearch/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml
    - elastic-data:/usr/share/elasticsearch/data
    healthcheck:
      test: curl -s http://localhost:9200 >/dev/null || exit 1
      timeout: 2s
      retries: 10
      interval: 5s
    restart: unless-stopped
    networks:
    - ${PROJECT_NAME}-network
  kibana:
    container_name: ${PROJECT_NAME}-kibana
    image: docker.elastic.co/kibana/kibana:8.6.1
    restart: unless-stopped
    networks:
    - ${PROJECT_NAME}-network
  telegraf:
    container_name: ${PROJECT_NAME}-telegraf
    build: ./images/telegraf
    volumes:
    - ./images/telegraf/telegraf.conf:/etc/telegraf/telegraf.conf:ro
    depends_on:
      elasticsearch:
        condition: service_healthy
      kafka:
        condition: service_healthy
    restart: unless-stopped
    networks:
    - ${PROJECT_NAME}-network
  beam_tracker:
    container_name: ${PROJECT_NAME}-beam_tracker
    build: ../apps/Beam/go/cmd/tracker
    depends_on:
    - zookeeper
    restart: unless-stopped
    networks:
    - ${PROJECT_NAME}-network
  beam_segments:
    container_name: ${PROJECT_NAME}-beam_segments
    build: ../apps/Beam/go/cmd/segments
    depends_on:
    - elasticsearch
    restart: unless-stopped
    networks:
    - ${PROJECT_NAME}-network
  crm:
    container_name: ${PROJECT_NAME}-crm
    user: 1000:1000
    build:
      context: ../apps/Crm/docker/php
      args:
        UID: 1000
        GID: 1000
        UNAME: docker
    volumes:
    - ../apps/Crm:/var/www/html/Crm:rw
    - ../apps/Composer:/var/www/html/Composer:rw
    - ../apps/Package:/var/www/html/Package:rw
    depends_on:
      nginx:
        condition: service_healthy
      mysql:
        condition: service_healthy
      redis:
        condition: service_healthy
    restart: unless-stopped
    networks:
    - ${PROJECT_NAME}-network
  web:
    container_name: ${PROJECT_NAME}-web
    user: 1000:1000
    build:
      context: ../apps/Web/images/php
      args:
        UID: 1000
        GID: 1000
        UNAME: docker
    volumes:
    - ../apps/Web:/var/www/html/Web:rw
    - ../apps/Composer:/var/www/html/Composer:rw
    - ../apps/Package:/var/www/html/Package:rw
    depends_on:
      nginx:
        condition: service_healthy
      mysql:
        condition: service_healthy
      redis:
        condition: service_healthy
    restart: unless-stopped
    networks:
    - ${PROJECT_NAME}-network
  campaign:
    container_name: ${PROJECT_NAME}-campaign
    user: 1000:1000
    build:
      context: ./images/php
      args:
        UID: 1000
        GID: 1000
        UNAME: docker
    volumes:
    - ../apps/Campaign:/var/www/html/Campaign:rw
    - ../apps/Composer:/var/www/html/Composer:rw
    - ../apps/Package:/var/www/html/Package:rw
    depends_on:
      nginx:
        condition: service_healthy
      mysql:
        condition: service_healthy
      redis:
        condition: service_healthy
    restart: unless-stopped
    networks:
    - ${PROJECT_NAME}-network
  mailer:
    container_name: ${PROJECT_NAME}-mailer
    user: 1000:1000
    build:
      context: ./images/php
      args:
        UID: 1000
        GID: 1000
        UNAME: docker
    volumes:
    - ../apps/Mailer:/var/www/html/Mailer:rw
    - ../apps/Composer:/var/www/html/Composer:rw
    - ../apps/Package:/var/www/html/Package:rw
    depends_on:
      nginx:
        condition: service_healthy
      mysql:
        condition: service_healthy
      redis:
        condition: service_healthy
    restart: unless-stopped
    networks:
    - ${PROJECT_NAME}-network
  sso:
    container_name: ${PROJECT_NAME}-sso
    user: 1000:1000
    build:
      context: ./images/php
      args:
        UID: 1000
        GID: 1000
        UNAME: docker
    volumes:
    - ../apps/Sso:/var/www/html/Sso:rw
    - ../apps/Composer:/var/www/html/Composer:rw
    - ../apps/Package:/var/www/html/Package:rw
    depends_on:
      nginx:
        condition: service_healthy
      mysql:
        condition: service_healthy
      redis:
        condition: service_healthy
    restart: unless-stopped
    networks:
    - ${PROJECT_NAME}-network
  beam:
    container_name: ${PROJECT_NAME}-beam
    user: 1000:1000
    build:
      context: ./images/php
      args:
        UID: 1000
        GID: 1000
        UNAME: docker
    volumes:
    - ../apps/Beam:/var/www/html/Beam:rw
    - ../apps/Composer:/var/www/html/Composer:rw
    - ../apps/Package:/var/www/html/Package:rw
    depends_on:
      nginx:
        condition: service_healthy
      mysql:
        condition: service_healthy
      redis:
        condition: service_healthy
    restart: unless-stopped
    networks:
    - ${PROJECT_NAME}-network
volumes:
  kafka-data:
    driver: local
  redis-data:
    driver: local
  elastic-data:
    driver: local
networks:
  webisup-cloud-network:
    driver: bridge
...
